@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #111827 0%,
    #111827 46.89%,
    #18181b 100%
  );
  height: 100vh;
  @apply w-full;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content {
  @media (min-width: 768px) {
    height: calc(100vh - 240px);
  }
}

$input: input;
.input {
  @apply bg-transparent;
  @apply rounded-lg;
  @apply border;
  @apply border-gray-800;
  @apply p-3;
  @apply pl-11;
  @apply placeholder-gray-600;
  @apply font-light;
  @apply focus:outline-none;
  @apply active:border-gray-600;
  @apply focus:border-gray-600;
  @apply hover:border-gray-600;
  @apply focus:placeholder-white;
  @apply transition-all;
  @apply duration-300;
  @apply ease-out;
  @apply hover:ease-in;

  &--error {
    @apply border-red-400;
  }

  &__icon {
    @apply stroke-gray-600;
    @apply absolute;
    @apply top-1/2;
    @apply -translate-y-1/2;
    @apply left-3;
    @apply transition-all;
    @apply duration-300;
    @apply ease-out;
  }

  &:focus,
  &:active {
    ~ .#{$input}__icon {
      @apply stroke-white;
    }
  }
}

.link {
  @apply text-sm;
  @apply font-light;
  @apply text-gray-50;
}
